<html>
<head>
    <style>

    table tr + tr:hover {
    background-color: aqua;
    }
    </style>

<script>
  var page=<%=page%>;  
</script>
</head>
<body>

<h1>Groups:<%=page%></h1>
  <button>
    <input type="button" onclick="location.href = '/group/object/n/';" value="Create">
  </button>
<form>

    <div>
        <div id="main">
            <table id="main_table">
                <th>Наименование</th>
                <th>id</th>
    <% groups.forEach(function(group ) { %>
                <tr class="row" dbid="<%=group.id%>">
                  <td><%=group.name%></td>
                  <td><%=group.id%></td>
                </tr>
    <% }); %>
    </table>
    </div>
    <div>
      <input type="button" onclick="lastPage()" value="Last...">
      <input type="button" onclick="nextPage()" value="Next...">
    </div>
    
    </div>
    
    </form>
    <script>

            	function postAjax(url, data, success) {
                var params = typeof data == 'string' ? data : Object.keys(data).map(
                        function(k){ return encodeURIComponent(k) + '=' + encodeURIComponent(data[k]) }
                    ).join('&');

                var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHTTP");
                xhr.open('POST', url);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState>3 && xhr.status==200) { success(xhr.responseText); }
                };
                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.send(params);
                return xhr;
            }
      function nextPage(){
        ++page;
        postAjax("/group",{ page: page},updateTable);
      }
            function lastPage(){
              --page;
              if(page<0){
                page=0;
              }
              result=postAjax("/group",{ page: page},updateTable);
            }
            function updateTable(res){
              let t=document.getElementById("main_table");
              let d=document.getElementById("main");
              d.removeChild(t);
              d.innerHTML=res;
            }
            var rows=document.getElementsByClassName("row");
            for (let row of rows){
                row.onclick = function() {
                    let idopen=row.attributes.dbid.value;
                    location.href=`/group/object/${idopen}`;
                  	//postAjax('/group/group', { idopen: idopen, p2: 'Hello World' }, function(data){ console.log(data); });
                    //var body = 'id=' + encodeURIComponent(idopen) +'&table=' + encodeURIComponent("group");
    
                    //var oReq = new XMLHttpRequest();
                  
                  	//oReq.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                    //oReq.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                    //oReq.onload = reqListener;
                    //oReq.open("post", "/group/group", true);
                    //oReq.send(body);
                };
            }
            
        </script>
</body>
</html>